/**********************************
Search plugin
***********************************/
.search-highlight {
	background-color: $(search-highlight-color);
}

.search-highlight-color1 {
	background-color: $(search-highlight-color-1);
}

.search-highlight-color2 {
	background-color: $(search-highlight-color-2);
}

.search-highlight-color3 {
	background-color: $(search-highlight-color-3);
}

.search-highlight-color4 {
	background-color: $(search-highlight-color-4);
}

.search-highlight-color5 {
	background-color: $(search-highlight-color-5);
}

.elgg-form-search [type="submit"] {
	display: none;
}

.elgg-page-topbar {
	.elgg-form-search {
		padding: 0.5rem;
		position: relative;
	
		.elgg-field {
			margin: 0;
			width: 100%;
		}
		
		[type="text"] {
			box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
			border: none;
			background: transparent;
			color: #fff;
			font-size: 0.9rem;
			
			&:focus {
				border: none;
				background: rgba(255, 255, 255, 0.1);
				box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);
			}

			&::placeholder {
				color: #ffffff;
			}
		}
		
		[type="submit"] {
			position: absolute;
			right: 0;
			top: 0;
			margin: 0.5rem;
			background: transparent;
			display: block;
		}
	}
}
