/**********************************
Search plugin
***********************************/
.search-highlight {
	background-color: #BBDAF7;
}

.search-highlight-color1 {
	background-color: #BBDAF7;
}

.search-highlight-color2 {
	background-color: #A0FFFF;
}

.search-highlight-color3 {
	background-color: #FDFFC3;
}

.search-highlight-color4 {
	background-color: #CCC;
}

.search-highlight-color5 {
	background-color: #08A7E7;
}
