/*

	Elgg main site CSS file

*/

body			{
					margin: 0px;
					background-color: #ffffff;
					font-family: arial, helvetica;
					font-size: 10pt;
					line-height: 1.2ems;
					margin: 0px;
					padding: 0px;
				}

h1				{
					13pt;
				}
h2				{
					12pt;
				}
h3				{
					11pt;
				}
form			{
					margin: 0px;
					padding: 0px;
				}
				
/* Page top */
#pagetop		{
					background-color: #5F1741;
				}
#pagetop ul		{
					position: absolute;
					right: 0;
					top: 0;
					list-style-type: none;
					margin: 0px;
					padding: 0px;
				}
#pagetop li		{
					font-family: verdana, arial, helvetica, helv;
					color:#ffffff;
					margin: 0;
					padding: 0;
				}
#pagetop li a	{
					display: block;
					text-decoration: none;
					color: #ffa800;
					text-align: center;
					background-color: #444444;
				}
#pagetop li a:hover	{
					color: #000000;
					background-color: #ffa800;
				}
#mainbody		{
					padding: 10px;
					padding-left:15px;
					padding-top:15px;
				}
#messages		{
					background-color: #000000;
					color: #ffffff;
					padding: 0px;
					margin: 0px;
				}
#messages ul	{
					padding: 0px;
					margin: 0px;
				}
.menubar		{
					background-color: #aaaaaa;
					padding: 3px;
					border: 0px;
					border-bottom: 1px;
					border-color: #000000;
					border-style: solid;
				}
.menubar a		{
					color: #ffffff;
					padding: 3px;
					text-decoration: none;
				}
.menubar a:hover	{
					text-decoration: underline;
				}
.actionbox		{
					background-color: #eeeeee;
					border: 1px;
					border-color: #000000;
					border-style: solid;
					padding: 7px;
					
				}
.actionbox caption	{
					background-color: #aaaaaa;
					color: #ffffff;
					vertical-align: middle;
					text-align: center;
					padding: 4px;
					font-weight: bold;
					border: 1px;
					border-color: #000000;
					border-style: solid;
					border-bottom: 0px;
					font-size: 1.1em;
					
				}
.infobox		{
					background-color: #eeeeee;
					border: 1px;
					border-color: #000000;
					border-style: solid;
					padding: 7px;
					width: 70%;
					margin-left: 5px;
				}
.infobox caption	{
					background-color: #aaaaaa;
					color: #ffffff;
					vertical-align: middle;
					text-align: center;
					padding: 4px;
					font-weight: bold;
					border: 1px;
					border-color: #000000;
					border-style: solid;
					border-bottom: 0px;
					font-size: 1.1em;
					width: 70%;
					margin-left: 5px;
				}
.profiletable 	{
					border: 1px;
					border-style: solid;
					border-color: #888888;
			  	}
.profiletable .fieldname	{
					background-color: #C6DEFD;
				}