/**
 * Walled garden CSS
 */

body {
	background-image: url('graphics/walled_garden.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	margin: 0;
}

.elgg-page-walled-garden {
	position: relative;
	width: 500px;
	min-height: 100%;
	background: white;
	margin: 0;
	float: right;
}

.elgg-page-walled-garden > div {
	margin: 0;
	padding: 20px 40px;
	background: none;
}

.elgg-main {
	padding: 0;
}

.elgg-heading-walled-garden a {
	text-decoration: none;
	color: inherit;
}

.elgg-page-walled-garden .elgg-page-footer {
	position: absolute;
	bottom: 0;
	left: 0;
}

.elgg-form-login, .elgg-form-account {
	max-width: none;
}

@media (max-width: 600px) {
	.elgg-page-walled-garden {
		width: 100%;
		float: none;
	}
	
	.elgg-page-walled-garden > div {
		padding: 10px 20px;
	}
	
	.elgg-page-walled-garden .elgg-page-footer {
		position: relative;
	}
}

