.elgg-item-object-admin_notice.elgg-item {
	margin: 10px 0 0;
	padding: 20px;
	color: #3B8BC9;
	background-color: #E7F1F9;
	border: 1px solid #B1D1E9;
}
.elgg-admin-notices p {
	
	margin: 0;
}
.elgg-admin-notices a.elgg-admin-notice {
	float: right;
	text-decoration: none;
}
.elgg-admin-notices a {
	text-decoration: underline;
}

.elgg-page-admin .elgg-admin-notices {
	margin: 0;
}
