/* ***************************************
	ANCHORS & BADGES
*************************************** */

.elgg-anchor * {
	display: inline;
}

.elgg-anchor .elgg-icon {
	color: inherit;
	font-size: inherit;
}

.elgg-anchor img {
	vertical-align: middle;
}

.elgg-anchor * + .elgg-anchor-label {
	margin-left: 0.5rem;
}

.elgg-anchor .elgg-anchor-label + * {
	margin-left: 0.5rem;
}

.elgg-badge {
	display: inline-block;
	color: $(text-color-strong);
	background-color: $(background-color-soft);
	padding: .15rem .25rem;
	margin-top: -.15rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
	font-size: 0.7rem;
	line-height: 1rem;
	font-weight: bold;
}
