/* ***************************************
	AUTOCOMPLETE
*************************************** */
.ui-autocomplete {
	position: absolute;
	cursor: default;
	background-color: var(--elgg-layout-background-color);
	border: 1px solid var(--elgg-border-color-soft);
	overflow: hidden;
	border-radius: 3px;
	padding: 4px;
	
	.ui-menu-item {
		padding: 4px;
		border-radius: 3px;
	}
		
	.ui-menu-item-wrapper.ui-state-active {
		text-decoration: none;
		color: var(--elgg-anchor-color-hover);
		
		.elgg-autocomplete-item {
			background-color: var(--elgg-background-color-soft);
		}
	}
}

.elgg-autocomplete-item .elgg-body {
	max-width: 600px;
}

.elgg-autocomplete-item-remove {
	cursor: pointer;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
