/* ***************************************
	AUTOCOMPLETE
*************************************** */
.ui-autocomplete {
	position: absolute;
	cursor: default;
}

.elgg-autocomplete-item .elgg-body {
	max-width: 600px;
}

.elgg-autocomplete-item-remove {
	cursor: pointer;
}

.ui-autocomplete {
	background-color: #ffffff;
	border: 1px solid $(border-color-soft);
	overflow: hidden;
	border-radius: 3px;
}

.ui-autocomplete .ui-menu-item {
	padding: 0 4px;
	border-radius: 3px;
}

.ui-autocomplete .ui-menu-item:hover {
	background-color: $(background-color-soft);
}

.ui-autocomplete a:hover {
	text-decoration: none;
	color: #0078ac;
}

.ui-autocomplete a.ui-state-hover {
	background-color: $(background-color-soft);
	display: block;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
