/* ***************************************
	BREADCRUMBS
*************************************** */
.elgg-breadcrumbs {
	padding: 0.5rem;
	color: $(text-color-soft);
	font-size: 0.9rem;
	
	> li {
		display: inline-block;
		
		&:after {
			content: "\203A";
			padding: 0 0.25rem;
			font-weight: normal;
		}
		
		> a {
			display: inline-block;
			color: $(text-color-soft);
			
			&:hover {
				color: $(text-color-mild);
			}
		}
	}
}
