/* ***************************************
	BREADCRUMBS
*************************************** */
.elgg-layout-breadcrumbs {
	margin-bottom: 1rem;
}

.elgg-breadcrumbs.elgg-menu-hz {
	gap: 0.5rem;
	
	> li {
		margin: 0;
		
		> a {
			color: $(text-color-soft);
			background-color: white;
			
			font-size: 0.9rem;
			border: 1px solid $(border-color-soft);
			border-radius: 4px;
			padding: 0.25rem 0.5rem;
			
			transition: background-color .5s, color .5s;
			
			&:hover {
				text-decoration: none;
				background-color: $(background-color-mild);
				color: $(text-color-mild);
			}
		}
	}
}
