/* ***************************************
	Gallery
*************************************** */
.elgg-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	&.elgg-gallery-users > li {
		padding: 0.25rem;
	}
	
	> li {
		padding: 0.25em;
	}
}
