/* ***************************************
	Image Block
*************************************** */
.elgg-image-block {
	display: flex;
	align-items: flex-start;
	column-gap: 1rem;
	
	&:after {
		display: none;
	}
	
	&.elgg-chip {
		align-items: center;
	}
	
	> .elgg-body {
		flex: 1;
	}
}
