/* ***************************************
	 Level
*************************************** */
.elgg-level {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	
	> *:first-child {
		margin-right: auto;
	}
}
