/* ***************************************
	 Level
*************************************** */
.elgg-level {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.elgg-level > *:first-child {
	margin-right: auto;
}
