/* ***************************************
	List
*************************************** */
.elgg-list > li {
	border-bottom: 1px solid var(--elgg-border-color-soft);
	padding: 1rem;
	
	&:last-child {
		border-bottom: 0;
	}
}

.elgg-no-results {
	padding: 0.5rem 1rem;
}

/* ***************************************
	List Item
*************************************** */
.elgg-listing-summary-title {
	line-height: 1.5rem;
	margin-bottom: 0.25rem;
	font-weight: 500;
	font-size: 1.2rem;
}

.elgg-listing-summary-content {
	margin-top: 0.5rem;
}

.elgg-listing-full-header {
	margin-bottom: 2rem;
}

.elgg-listing-full-responses {
	padding-top: 1rem;
}

.elgg-listing-imprint {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1rem;
	
	.elgg-icon {
		margin-right: 0.5rem;
	}
}
