/* ***************************************
	List
*************************************** */
.elgg-list > li {
	border-bottom: 1px solid $(border-color-soft);
	padding: 1rem;
}

.elgg-module .elgg-list > li:last-child {
	border-bottom: 0;
}
.elgg-module .elgg-list + .elgg-pagination {
	border-top: 1px solid $(border-color-soft);
	padding-top: 1rem;
}

.elgg-item h3 a {
	padding-bottom: 0.25rem;
}

.elgg-item > .elgg-subtext {
	margin-bottom: 0.25rem;
}

.elgg-item .elgg-content {
	margin: 0.5rem 0;
}

.elgg-content {
	clear: both;
}

.elgg-no-results {
	padding: 0.5rem 1rem;
}

/* ***************************************
	List Item
*************************************** */
.elgg-listing-summary-title {
	line-height: 1.5rem;
	margin-bottom: 0.25rem;
}

.elgg-listing-full-header {
	margin-bottom: 2rem;
}

.elgg-listing-imprint {
	display: flex;
	flex-wrap: wrap;
}

.elgg-listing-imprint > span {
	margin-right: 1rem;
}

.elgg-listing-imprint .elgg-icon {
	margin-right: 0.5rem;
}
