/* ***************************************
	Messages
*************************************** */
.elgg-message {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	
	margin-bottom: 1rem;
	
	color: var(--elgg-text-color-strong);
	background-color: var(--elgg-background-color-soft);
	border-color: var(--elgg-border-color-strong);
	
	&.elgg-message-success {
		color: var(--elgg-state-success-font-color);
		background-color: var(--elgg-state-success-background-color);
		border-color: var(--elgg-state-success-border-color);
	}

	&.elgg-message-error {
		color: var(--elgg-state-danger-font-color);
		background-color: var(--elgg-state-danger-background-color);
		border-color: var(--elgg-state-danger-border-color);
	}
	
	&.elgg-message-help,
	&.elgg-message-info,
	&.elgg-message-notice {
		color: var(--elgg-state-notice-font-color);
		background-color: var(--elgg-state-notice-background-color);
		border-color: var(--elgg-state-notice-border-color);
	}
	
	&.elgg-message-warning {
		color: var(--elgg-state-warning-font-color);
		background-color: var(--elgg-state-warning-background-color);
		border-color: var(--elgg-state-warning-border-color);
	}
	
	> .elgg-inner {
		border-color: inherit;
	
		> .elgg-head {
			display: flex;
			align-items: center;
			
			background-color: rgba(255,255,255,0.7);
			
			padding: 0.5rem 1rem;
			border-bottom-width: 1px;
			border-bottom-style: solid;
			border-bottom-color: inherit;
			
			> .elgg-message-icon,
			> .elgg-message-title {
				padding-right: 1rem;
				font-weight: bold;
			}

			> .elgg-message-menu {
				margin-left: auto;
			}
		}
		
		> div:last-child {
			border-bottom: 0;
		}
		
		> .elgg-body {
			padding: 1rem;
			
			p {
				margin: 0;
			}
			
			a {
				text-decoration: underline;
			}
		}
	}
}
