/* ***************************************
	USER INPUT DISPLAY RESET
*************************************** */
p + *,
blockquote + *,
.elgg-output + * {
	margin-top: 1rem;
}

* + p,
* + blockquote,
* + .elgg-output {
	margin-top: 1rem;
}

p img,
p iframe {
	margin: 0.5rem auto;
}

.elgg-output dt {
	font-weight: bold
}

.elgg-output dd {
	margin: 0 0 1rem 1rem
}

.elgg-output ul, .elgg-output ol {
	margin: 0 1.5rem 1.5rem 0;
	padding-left: 1.5rem;
}

.elgg-output ul {
	list-style-type: disc;
}

.elgg-output ol {
	list-style-type: decimal;
	list-style-position: inside;
	padding-left: .4rem;
}

.elgg-output table {
	border: 1px solid $(border-color-soft);
}

.elgg-output table td {
	padding: 0.25rem 0.5rem;
}

.elgg-output img {
	max-width: 100%;
	height: auto;
}

