.elgg-profile-fields {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	
	.elgg-profile-field {
		display: flex;
		flex-direction: column;
		
		> .elgg-profile-field-label {
			width: 12rem;
			
			font-weight: $(font-bold-weight);
			font-size: 0.85rem;
			color: $(text-color-mild);
		}
	}
}

@media $(media-tablet-up) {
	.elgg-profile-fields {
		.elgg-profile-field {
			flex-direction: row;
			
			> .elgg-profile-field-label {
				max-width: 12rem;
			}
		}
	}
}
