/* ***************************************
	River
*************************************** */
.elgg-module .elgg-list-river {
	border-top: none;
}

.elgg-river-layout .elgg-list-river {
	border-top: 1px solid $(border-color-soft);
}

.elgg-list-river > li {
	border-bottom: 1px solid $(border-color-soft);
}

.elgg-river-attachments,
.elgg-river-message,
.elgg-river-content {
	border-left: 1px solid $(border-color-soft);
	margin: 0.5rem 0;
	padding-left: 1rem;
}

.elgg-river-attachments .elgg-avatar,
.elgg-river-attachments .elgg-icon {
	display: inline-block;
}

.elgg-river-attachments .elgg-icon-arrow-right {
	margin: 0.5rem;
}

.elgg-river-more {
	border-color: $(border-color-soft);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	padding: 0.5rem 1rem;
	font-size: 85%;
}

.elgg-river-item form {
	border-color: $(border-color-soft);
	border-style: solid;
	border-width: 0 1px 1px 1px;
	padding: 0.5rem;
	height: auto;
}
