/* ***************************************
	TABLES
*************************************** */
.elgg-table,
.elgg-table-alt {
	background-color: white;
	margin-bottom: 1rem;
	width: 100%;

	td,
	th {
		border-style: solid;
		border-width: 0 0 1px;
		border-color: $(border-color-soft);
		padding: 0.5em 0.75em;
		vertical-align: top;
		background-color: white;
	}

	tr.elgg-state-selected td,
	tr.elgg-state-selected th,
	tr:hover td,
	tr:hover th {
		background-color: $(background-color-soft);
	}

	thead th {
		font-weight: bold;
		border-width: 0 0 2px;
	}

	tfoot th {
		border-width: 2px 0 0;
		font-weight: bold;
	}
}

.elgg-table-alt th:first-child,
.elgg-table-alt td:first-child {
	width: 15rem;
}

@media $(media-tablet-up) {
	.elgg-table,
	.elgg-table-alt {
		thead,
		tfoot {
			th {
				word-break: normal;
			}
		}
	}
}
