/* ***************************************
	FILTER MENU AND TABS
*************************************** */
.elgg-menu-filter,
.elgg-tabs {
	border-bottom: 1px solid var(--elgg-border-color-soft);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	> li {
		border: 1px solid var(--elgg-border-color-soft);
		border-bottom-width: 0;
		background: var(--elgg-background-color-soft);
		flex-grow: 1;
		
		&.elgg-state-selected {
			background: var(--elgg-layout-background-color);
			
			> a {
				position: relative;
				top: 1px;
				background: var(--elgg-layout-background-color);
			}
		}
		
		> a {
			text-decoration: none;
			display: block;
			padding: 0.5rem 1rem;
			text-align: center;
			height: auto;
			color: var(--elgg-text-color-soft);
			
			&:hover {
				background: var(--elgg-layout-background-color);
				color: var(--elgg-text-color-strong);
			}
		}
	}
}

@media screen and (min-width: 50rem) {
	.elgg-menu-filter,
	.elgg-tabs {
		> li {
			border-bottom-width: 1px;
			margin: .25rem 0 0 0.5rem;
			border-radius: 3px 3px 0 0;
			position: relative;
			top: 1px;
			flex-grow: 0;
		}
	}
	
	.elgg-menu-filter {
		.elgg-menu-item-sort-parent {
			margin-left: auto;
		}
	}
}
