/* ***************************************
	FILTER MENU AND TABS
*************************************** */
.elgg-menu-filter,
.elgg-tabs {
	margin-bottom: 0.5rem;
	border-bottom: 1px solid $(border-color-soft);
	display: flex;
	flex-direction: row;
		flex-wrap: wrap;
	
	> li {
		border: 1px solid $(border-color-soft);
		border-bottom-width: 0;
		background: $(background-color-soft);
		flex-grow: 1;
		
		&.elgg-state-selected a:hover {
			background: #ffffff;
		}
		
		> a {
			text-decoration: none;
			display: block;
			padding: 0.5rem 1rem;
			text-align: center;
			height: auto;
			color: #646464;
			
			&:hover {
				background-color: $(background-color-mild);
				color: #333;
			}
		}
	}
	
	> .elgg-state-selected {
		border-color: $(border-color-soft);
		background: #ffffff;
		
		> a {
			position: relative;
			top: 1px;
			background: #ffffff;
		}
	}
}

@media $(media-tablet-up) {
	.elgg-menu-filter > li,
	.elgg-tabs > li {
		border-bottom-width: 1px;
		margin: .25rem 0 0 0.5rem;
		border-radius: 3px 3px 0 0;
		position: relative;
		top: 1px;
		flex-grow: 0;
	}
}
