/* ***************************************
	Tags
*************************************** */
.elgg-tags {
	font-size: 85%;
	color: #AAA;
	line-height: normal;
	vertical-align: middle;
}

.elgg-tags > .elgg-icon {
	margin-right: 5px;
}

