/* ***************************************
	Typography
*************************************** */
body {
	font-family: $(font-family);
	
	/* Break everywhere as a fallback */
	word-break: break-all;
	/* Instead use this non-standard one as it is better */
	word-break: break-word;
}

a {
	color: $(anchor-color);
}

a:hover,
a.selected {
	color: $(anchor-color-hover);
	text-decoration: underline;
}

pre, code {
	font-family: Monaco, "Courier New", Courier, monospace;
	font-size: 0.75rem;

	background: #EBF5FF;
	color: #000;
	overflow: auto;

	overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */

	white-space: pre-wrap;
	word-wrap: break-word; /* IE 5.5-7 */

}

pre {
	padding: 0.25rem 1rem;
	margin: 0 0 1rem 0;
	line-height: 1.3rem;
}

code {
	padding: 0.25rem;
}

.elgg-monospace {
	font-family: Monaco, "Courier New", Courier, monospace;
}

blockquote {
	padding: 0.5rem 1rem;
	margin: 0 0 1rem 0;
	background-color: $(state-notice-background-color);
	border: 1px solid $(state-notice-border-color);
	color: $(state-notice-font-color);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	font-family: $(h-font-family, $(font-family));
}

h1 {
	font-size: $(h1-font-size);
}

h2 {
	font-size: $(h2-font-size);
}

h3 {
	font-size: $(h3-font-size);
}

h4 {
	font-size: $(h4-font-size);
}

h5 {
	font-size: $(h5-font-size);
}

h6 {
	font-size: $(h6-font-size);
}

.elgg-subtext {
	color: $(text-color-mild);
	font-size: 0.75rem;
}

time,
.elgg-river-timestamp,
.elgg-text-help,
.elgg-quiet,
.elgg-tags {
	display: inline-block;
	color: $(text-color-soft);
	font-size: 0.75rem;
	line-height: normal;
}

.elgg-text-help,
.elgg-tags {
	margin-top: 0.25rem;
}

.elgg-loud {
	font-weight: $(font-bold-weight);
}

.elgg-more,
.elgg-widget-more {
	padding: 0.5rem;
	font-size: 0.85rem;
	font-weight: $(font-bold-weight);
}

.elgg-state {
	&.elgg-state-success {
		 color: $(state-success-font-color);
	}
	&.elgg-state-error,
	&.elgg-state-danger {
		 color: $(state-danger-font-color);
	}
	&.elgg-state-notice {
		 color: $(state-notice-font-color);
	}
	&.elgg-state-warning {
		 color: $(state-warning-font-color);
	}
}
