/* ***************************************
	ENTITY PICKER
*************************************** */
.elgg-entity-picker-list li:first-child {
	border-top: 1px dotted #ccc;
	margin-top: 5px;
}
.elgg-entity-picker-list > li {
	border-bottom: 1px dotted #ccc;
}
.elgg-entity-picker.elgg-state-disabled > input,
.elgg-entity-picker.elgg-state-disabled > label {
	display: none;
}
.elgg-entity-picker-remove {
	cursor: pointer;
}
