engine/settings.php
/.htaccess
/.buildpath
/.settings
/.project
mod/*
!blog/
!bookmarks/
!categories/
!custom_index/
!dashboard/
!developers/
!diagnostics/
!embed/
!externalpages/
!file/
!garbagecollector/
!groups/
!htmlawed/
!invitefriends/
!likes/
!logbrowser/
!logrotate/
!members/
!messageboard/
!messages/
!notifications/
!oauth_api/
!pages/
!profile/
!reportedcontent/
!search/
!tagcloud/
!thewire/
!tinymce/
!twitter/
!twitter_api/
!uservalidationbyemail/
!zaudio/

