# ignore Elgg configuration
/engine/settings.php
/.htaccess
/mod/*

# don't ignore bundled plugins
!/mod/blog/
!/mod/bookmarks/
!/mod/categories/
!/mod/custom_index/
!/mod/dashboard/
!/mod/developers/
!/mod/diagnostics/
!/mod/embed/
!/mod/externalpages/
!/mod/file/
!/mod/garbagecollector/
!/mod/groups/
!/mod/htmlawed/
!/mod/invitefriends/
!/mod/likes/
!/mod/logbrowser/
!/mod/logrotate/
!/mod/members/
!/mod/messageboard/
!/mod/messages/
!/mod/notifications/
!/mod/oauth_api/
!/mod/pages/
!/mod/profile/
!/mod/reportedcontent/
!/mod/search/
!/mod/tagcloud/
!/mod/thewire/
!/mod/tinymce/
!/mod/twitter/
!/mod/twitter_api/
!/mod/uservalidationbyemail/
!/mod/zaudio/

# ignore IDE/hidden/OS cache files
.*
*~
/nbproject
/nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
tmtags
Thumbs.db
Desktop.ini

# don't ignore travis config
!/.travis.yml
