Aday Talavera <aday.talavera@gmail.com>
András Szepesházi <szepeshazi@gmail.com>
Ben Werdmuller <ben@benwerd.com> <ben@36083f99-b078-4883-b0ff-0f9b5a30f544>
Brett Profitt <brett.profitt@gmail.com> <brettp@36083f99-b078-4883-b0ff-0f9b5a30f544>
Cash Costello <cash.costello@gmail.com> <cash@36083f99-b078-4883-b0ff-0f9b5a30f544>
Cash Costello <cash.costello@gmail.com>
Evan Winslow <evan@elgg.org>
Evan Winslow <evan@elgg.org> <evan.b.winslow@gmail.com>
Evan Winslow <evan@elgg.org> <ewinslow@36083f99-b078-4883-b0ff-0f9b5a30f544>
Ismayil Khayredinov <ismayil.khayredinov@hypejunction.com> <ismayil.khayredinov@gmail.com>
Ismayil Khayredinov <ismayil.khayredinov@hypejunction.com>
Jeff Tilson <jrtilson@gmail.com> <jtilson@thinkglobalschool.com>
Jerôme Bakker <jeabakker@coldtrick.com>
Matt Beckett <beck24@gmail.com>
Marcus Povey <marcus@marcus-povey.co.uk> <marcus@36083f99-b078-4883-b0ff-0f9b5a30f544>
Paweł Sroka <srokap@gmail.com>
Steve Clay <steve@mrclay.org> <sclay@ufl.edu>
