<phpunit bootstrap="./engine/tests/phpunit/bootstrap.php">
	<testsuites>
		<testsuite name="All Tests">
			<directory>./engine/tests/phpunit/</directory>
			<directory>./engine/classes/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<blacklist>
			<directory suffix=".php">/engine/tests</directory>
			<directory suffix=".php">/engine/lib/upgrades</directory>
			<file>/engine/settings.example.php</file>
			<directory suffix=".php">/vendor</directory>
			<directory suffix=".php">/vendors</directory>
			<directory suffix=".php">/docs</directory>
		</blacklist>
	</filter>
</phpunit>