<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./engine/tests/phpunit/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage includeUncoveredFiles="true">
    <include>
      <directory suffix=".php">./actions</directory>
      <directory suffix=".php">./engine/classes</directory>
      <directory suffix=".php">./engine/lib</directory>
      <directory suffix=".php">./mod/*/actions</directory>
      <directory suffix=".php">./mod/*/lib</directory>
      <directory suffix=".php">./mod/*/classes</directory>
    </include>
    <exclude>
      <directory suffix=".php">./elgg-config</directory>
      <directory suffix=".php">./install</directory>
      <directory suffix=".php">*/vendor/*</directory>
      <directory suffix=".php">*/vendors/*</directory>
      <directory suffix=".php">*/tests/*</directory>
      <directory suffix=".php">*/bower_components/*</directory>
      <directory suffix=".php">*/node_modules/*</directory>
      <directory suffix=".php">*/docs/*</directory>
      <directory suffix=".php">./engine/schema/*</directory>
      <directory suffix=".php">./engine/vendor_classes/*</directory>
      <directory suffix=".php">./languages</directory>
      <directory suffix=".php">./views</directory>
      <directory suffix=".php">./mod/*/languages</directory>
      <directory suffix=".php">./mod/*/views</directory>
      <file>./engine/lib/deprecated-*.php</file>
      <file>./engine/lib/constants.php</file>
    </exclude>
  </coverage>
  <php>
    <!-- You can specify your own settings.php path -->
    <!-- <env name="ELGG_SETTINGS_FILE" value="path/to/settings.php"/> -->
    <!-- or configure individual settings via env-->
    <!--
        <env name="ELGG_DB_HOST" value="localhost"/>
        <env name="ELGG_DB_NAME" value=""/>
        <env name="ELGG_DB_USER" value=""/>
        <env name="ELGG_DB_PASS" value=""/>
        <env name="ELGG_DB_PREFIX" value=""/>
        <env name="ELGG_DB_ENCODING" value="utf8mb4"/>

        <env name="ELGG_MEMCACHE" value="1"/>
        <env name="ELGG_MEMCACHE_SERVER1_HOST" value="127.0.0.1"/>
        <env name="ELGG_MEMCACHE_SERVER1_PORT" value="11211"/>
        <env name="ELGG_MEMCACHE_SERVER2_HOST" value=""/>
        <env name="ELGG_MEMCACHE_SERVER2_PORT" value=""/>
        <env name="ELGG_MEMCACHE_NAMESPACE_PREFIX" value="elgg_"/>

        <env name="ELGG_REDIS" value="1"/>
        <env name="ELGG_REDIS_SERVER1_HOST" value="127.0.0.1"/>
        <env name="ELGG_REDIS_SERVER1_PORT" value="6379"/>

        <env name="ELGG_WWWROOT" value="http://localhost/"/>
        
        <env name="ELGG_SEEDER_LOCAL_IMAGE_FOLDER" value=""/>
        -->
    <ini name="memory_limit" value="-1"/>
    <ini name="max_execution_time" value="0"/>
    <ini name="max_input_time" value="0"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>./engine/tests/phpunit/unit/</directory>
    </testsuite>
    <testsuite name="integration">
      <directory>./engine/tests/phpunit/integration/</directory>
    </testsuite>
    <testsuite name="plugins-unit">
      <directory>./mod/*/tests/phpunit/unit/</directory>
    </testsuite>
    <testsuite name="plugins-integration">
      <directory>./mod/*/tests/phpunit/integration/</directory>
    </testsuite>
    <!-- The following suites are used to segment code coverage jobs -->
    <testsuite name="integration-a-to-d">
      <directory>./engine/tests/phpunit/integration/Elgg/Actions/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Ajax/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Assets/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Cli/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Comments/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Controllers/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Database/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Di/</directory>
    </testsuite>
    <testsuite name="integration-e-to-s">
      <directory>./engine/tests/phpunit/integration/Elgg/Forms/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Http/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/I18n/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Lib/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Navigation/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Notifications/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Plugin/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Router/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Search/</directory>
      <directory>./engine/tests/phpunit/integration/Elgg/Security/</directory>
    </testsuite>
    <testsuite name="integration-t-to-all">
      <directory>./engine/tests/phpunit/integration/</directory>
      
      <exclude>engine/tests/phpunit/integration/Elgg/Actions/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Ajax/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Assets/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Cli/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Comments/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Controllers/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Database/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Di/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Forms/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Http/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/I18n/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Lib/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Navigation/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Notifications/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Plugin/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Router/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Search/</exclude>
      <exclude>engine/tests/phpunit/integration/Elgg/Security/</exclude>
    </testsuite>
  </testsuites>
</phpunit>
