# Crontab example.
#
# This file is an example of triggering Elgg cron events. It hits a URL to
# trigger the events. For testing, you can simulate the cronjob by loading the
# URL in a browser.
#
# See http://docs.elgg.org/wiki/Cron for more information
#
# @author Marcus Povey

# Location of GET (see: http://docs.elgg.org/wiki/What_is_get)
GET='/usr/bin/GET'

# Location of your site (don't forget the trailing slash!)
ELGG='http://www.example.com/'

# The crontab
# Don't edit below this line unless you know what you are doing
@reboot $GET ${ELGG}cron/reboot/
* * * * * $GET ${ELGG}cron/minute/
*/5 * * * * $GET ${ELGG}cron/fiveminute/
15,30,45,59 * * * * $GET ${ELGG}cron/fifteenmin/
30,59 * * * * $GET ${ELGG}cron/halfhour/
@hourly $GET ${ELGG}cron/hourly/
@daily $GET ${ELGG}cron/daily/
@weekly $GET ${ELGG}cron/weekly/
@monthly $GET ${ELGG}cron/monthly/
@yearly $GET ${ELGG}cron/yearly/
