/* **********************
 Admin unvalidated users
 ********************** */
.elgg-menu-container.elgg-menu-user-unvalidated-bulk-container {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

.elgg-menu-user-unvalidated-bulk-container li,
.elgg-menu-user-unvalidated-container li {
	margin-right: 5px;
}
.elgg-menu-user-unvalidated-bulk-container li:last-child,
.elgg-menu-user-unvalidated-container li:last-child {
	margin-right: 0;
}
