.developers-error-log-title {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	background: $(background-color-soft);
}

.developers-error-log-title.elgg-state-critical,
.developers-error-log-title.elgg-state-alert,
.developers-error-log-title.elgg-state-error {
	@include elgg-message($(state-danger-font-color), $(state-danger-background-color), $(state-danger-border-color));
}

.developers-error-log-title.elgg-state-warning {
	@include elgg-message($(state-warning-font-color), $(state-warning-background-color), $(state-warning-border-color));
}
