.groups-profile-fields {
	border: 1px solid var(--elgg-border-color-soft);
}

#groups-tools {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	grid-gap: 0 2rem;
	margin: 1rem 0 0;
}
