/*
    CSS for default Elgg Admin
*/

/* globals */

body {
    padding: 0;
    margin:0;
    text-align:center;
    font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    color: #918f8d; /*333;*/
    background: #eee url(bg2.gif);
    width:100%;
 font-size:90%;
 line-height:1.6em;
 margin: auto;
    }

a {
        text-decoration: none;
        color: #7289AF;
        background: #fff;
        font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
        font-size:100%;

    }
    
p {
    font-size: 100%;
    color: #5e5d5c; 
}

h1 {
       margin:0px 0px 15px 0px;
    padding:0px;
    font-size:120%;
    font-weight:900;
}


h2 {
    margin:0px 0px 5px 0px;
    padding:0px;
    font-size:100%
}


h3 {
    margin:0px 0px 5px 0px;
    padding:0px;
    font-size:100%
}

h4 {
    margin:0px 0px 5px 0px;
    padding:0px;
    font-size:100%
}

h5 {
    margin:0px 0px 5px 0px;
    padding:0px;
    color:#1181AA;
       background:#fff;
    font-size:100%
}

td p {
    
    font-size: 0.8em;
    margin-top: 15px;
    padding-top: 15px;
    
}

blockquote {
    padding: 0 1pc 1pc 1pc;
    border: 1px solid #ddd;
    background-color: #F0F0F0;
       color:#000;
    background-image: url("{$CFG->wwwroot}_templates/double-quotes.png");
    background-repeat: no-repeat;
    background-position: -10px -7px;
}

.checkbox {
 background: #fff;
 border: none;
 margin: 0;
 padding: 0;
}

label {
 margin: 0;
 padding: 0;
}

input {
   width:500px;
   font-size: 1.4em;
   font-weight:normal;
}

textarea {
   background-color: #FFF;
   color: #000;
   border: 1px solid #CCC;
   font-size: 1em;
   padding: 3px;
                    margin: 0 0 5px;
                    width:95%;
                    height:200px;
  }

.button {
  padding:2px;
  font-size:16px;
  width:50px;
} /*--- search 'go' button ---*/

/*
Wraps the entire page 
*/

#container {
    width: 97%;
    min-width: 750px;
 padding:0px;
 margin:0px;
 border:1px solid #ccc;
 background:#fff;
 margin: 10 auto;
    }

/*
HEADER 
*/

#header {
    width: 100%;
    background: #fff;
    color:#1181AA;
    padding: 0px;
    margin: 0px;
    text-align: left;
 height:60px;
    }

#header h1 {
    padding: 10px 0 4px 15px;
    margin: 0;
    color:#017FBC;
 font-size:1.4em;
    background: #fff;
    text-align: left;
    font-weight:bold;
    }    

/*
NAVIGATION 
*/

#navigation {
height: 25px;
width:100%;
margin: 0;
padding: 0px;
text-align:center;
/*float:left;*/
background:#fff;
border:0px solid #000;
border-bottom:1px solid #999;
}

#navigation ul {
padding:0 0 0px 17px;
margin:0;
}

#navigation li {
margin: 0 5px 0 0; 
padding: 0;
display: inline;
list-style-type: none;
float:left;
height:25px;
}

#navigation a:link, #navigation a:visited {

border-top:1px solid #999;
border-right:1px solid #999;
border-left:1px solid #999;
padding:4px 8px 5px 8px;
text-align:center;
color:#000; /*#2d2680;*/
white-space:nowrap;
background: #eee; /*#B1CC1C;*/
}

#navigation a:link.active, #navigation a:visited.active {
border:1px solid #999;
border-bottom: 3px solid #fff;
background: #fff;
color: #000;
font-weight: normal;
padding:4px 8px 3px 8px;
}

#navigation li a:hover{
text-decoration:none;
background:#D1E751;
}

/*
SITE CONTENT WRAPPER 
*/

#content {
    margin: 0;
    padding: 20px;
    text-align: left;
    border: 0px solid #ccc;
    border-top: none;
    background-color: #fff;
    color:#000;
 font-size:90%;
 min-height:300px;
}

#content h1 {
  border-bottom: 1px solid #666;
  padding:0px;
  margin:0px;
 }

/*
  FOOTER 
*/

#footer {
    background:#fff;
    text-align: center;
    padding:0px;
 border-top:1px solid #ccc;
 border-bottom:1px solid #ccc;
 font-size:0.8em;
 width: 45em;
 margin: 10 auto;
}

#footer a:hover {
   text-decoration:underline;
 }

#footer a:link, #footer a:visited {
    text-align:right;
}

/*
  Important warning messages
*/

.important{ 
    background:#F7DAD8;
    color:#000;
}

.important p{
 }


/*
 System messages
*/

#messages {
 text-align:left;
 background:#E7EDF3;
 border:1px solid #87B2E1;
 padding:10px;
 margin:10px;
}

#messages ul {
  margin:0;
  padding:0;
}

#messages li {
  list-style:none;
}

/*
   MISC 
*/

.clearall {
    padding: 0px;
    clear: both;
    font-size: 0px;
    }