/* ***************************************
	FOOTER
*************************************** */
.elgg-page-footer {
	position: relative;
	background: $(background-color-soft);
	border-top: 1px solid $(border-color-soft);
	color: $(text-color-soft);
	font-size: 0.9rem;
	min-height: 4rem;
}

.elgg-page-footer a {
	color: $(text-color-soft);
}

.elgg-page-footer a:hover {
	color: $(text-color-highlight);
}

/* ***************************************
	FOOTER MENU
*************************************** */
.elgg-page-footer .elgg-menu-container {
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.5rem 1rem;
}

.elgg-menu-footer {
	flex-direction: column;
	margin-bottom: 1rem;
}

.elgg-menu-footer > li > a {
	padding: 0.5rem 1rem;
}

@media $(media-desktop-up) {
	.elgg-page-footer .elgg-menu-container {
		flex-direction: row;
		justify-content: flex-end;
	}

	.elgg-menu-footer {
		flex-direction: row;
		margin-bottom: 0;
	}

	.elgg-menu-footer-default {
		margin-right: auto;
	}
}
