/* ***************************************
	FOOTER
*************************************** */
.elgg-page-footer {
	position: relative;
	background: #f5f5f6;
	border-top: 1px solid #e6e6ea;
	color: #969696;
	font-size: 0.9rem;
	min-height: 4rem;
}

.elgg-page-footer a {
	color: #969696;
}

.elgg-page-footer a:hover {
	color: #646464;
}

/* ***************************************
	FOOTER MENU
*************************************** */
.elgg-page-footer .elgg-menu-container {
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.5rem 1rem;
}

.elgg-menu-footer {
	flex-direction: column;
	margin-bottom: 1rem;
}

.elgg-menu-footer > li > a {
	padding: 0.5rem 1rem;
}

@media screen and (min-width: 80rem) {
	.elgg-page-footer .elgg-menu-container {
		flex-direction: row;
		justify-content: flex-end;
	}

	.elgg-menu-footer {
		flex-direction: row;
		margin-bottom: 0;
	}

	.elgg-menu-footer-default {
		margin-right: auto;
	}
}
