/* ***************************************
	FOOTER
*************************************** */
.elgg-page-footer {
	position: relative;
	background: var(--elgg-background-color-soft);
	border-top: 1px solid var(--elgg-border-color-soft);
	color: var(--elgg-text-color-soft);
	font-size: 0.9rem;
	min-height: 4rem;
	
	a {
		color: var(--elgg-text-color-soft);
		
		&:hover {
			color: var(--elgg-text-color-highlight);
		}
	}
}

/* ***************************************
	FOOTER MENU
*************************************** */
.elgg-page-footer .elgg-menu-container {
	flex-direction: column;
	justify-content: flex-start;
}

.elgg-menu-footer {
	flex-direction: column;
	margin-bottom: 1rem;
	
	> li > a {
		padding: 0.5rem 1rem;
	}
}

@media screen and (min-width: 80rem) {
	.elgg-page-footer .elgg-menu-container {
		flex-direction: row;
		justify-content: flex-end;
	}

	.elgg-menu-footer {
		flex-direction: row;
		margin-bottom: 0;
	}

	.elgg-menu-footer-default {
		margin-right: auto;
	}
}
