/* ***************************************
	HEADER
*************************************** */
.elgg-layout-header {
	padding: 0 0 1rem;
	border-bottom: 1px solid var(--elgg-border-color-soft);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	
	> h1 {
		order: 1;
		flex-basis: 30%;
		flex-grow: 1;
		
		font-size: 2rem;
	}
	
	> .elgg-menu-container {
		order: 2;
		align-items: center;
	}
}

@media screen and (min-width: 80rem) {
	.elgg-layout-header {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		gap: 0;
		
		> .elgg-menu-container {
			margin-left: auto;
		}
	}
}
