/* ***************************************
	HEADER
*************************************** */
.elgg-layout-header {
	margin-bottom: 1rem;
	border-bottom: 1px solid $(border-color-soft);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.elgg-layout-header > h1,
.elgg-layout-header > h2,
.elgg-layout-header > h3 {
	order: 1;
	padding: 1rem;
	text-align: center;
	font-size: 2rem;
}

.elgg-layout-header > .elgg-menu-container {
	order: 2;
	padding: 1rem;
}

@media $(media-desktop-up) {
	.elgg-layout-header {
		padding: 1rem;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
	}

	.elgg-layout-header > h1,
	.elgg-layout-header > h2,
	.elgg-layout-header > h3 {
		padding: 0;
		text-align: left;
	}

	.elgg-layout-header > .elgg-menu-container {
		padding: 0;
		margin-left: auto;
	}
}
