/* ***************************************
	SYSTEM MESSAGES
*************************************** */
.elgg-system-messages {
	position: fixed;
	top: 2rem;
	right: 1rem;
	max-width: 30rem;
}

.elgg-system-messages .elgg-message {
	cursor: pointer;
}
