/* ***************************************
	SYSTEM MESSAGES
*************************************** */
.elgg-system-messages {
	position: fixed;
	top: 2rem;
	right: 1rem;
	max-width: 30rem;
	
	&.elgg-message {
		cursor: pointer;
	}
}
