.elgg-page-default {
	.elgg-page-section > .elgg-inner {
		max-width: $(desktop);
		margin: 0 auto;
		padding: 0 0.5rem;
	}
	
	.elgg-page-header > .elgg-inner {
		padding: 0;
		margin: 0;
		max-width: unset;
		
		.elgg-header-image {
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 40vh;
		}
	}

	.elgg-page-body > .elgg-inner {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
}

@media $(media-desktop-up) {
	.elgg-page-default {
		.elgg-page-section:not(.elgg-page-header) > .elgg-inner {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}
