body {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 12px;
}

.header {
	border: #E0E0E0 solid 1px;
}

.footer {
	border: #E0E0E0 solid 1px;
	height: 20px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
	margin: 4px;
}

h2 {
	font-size: 14px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
}

h3 {
	font-size: 11px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	margin-bottom: 3px;
}

.section {
	margin-left: 15px;
}

.column {
	margin-right: 20px;
	float: left
}

.separator {
	border-bottom: 1px solid #E6EBF1;
	margin-top: 10px;
	margin-bottom: 10px;
}

p {
}

.helpindex {
	margin-left: 20px;
	padding-left: 0px;
}


.optionlist {
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

.optionlist li {
	padding: 0px;
	margin: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 10px;
	list-style-type: none;
}

.helpindex li {
	margin-top: 3px;
}

.content {
	margin: 10px;
}

.example {
	background-color: #E6EBF1;
	margin-left: 10px;
}

code, pre {
	margin: 0px;
	padding: 0px;
	background-color: #E6EBF1;
}

.copyright {
	margin: 3px;
	float: left;
}

.helpindexlink {
	margin: 3px;
	float: right;
}

a:visited {
	color: #666666;
	text-decoration: underline;
}

a:active {
	color: #666666;
	text-decoration: underline;
}

a:hover {
	color: #666666;
	text-decoration: underline;
}

a {
	color: #666666;
	text-decoration: underline;
}

.list_subtitle {
	padding-top: 5px;
}

.note {
	margin-top: 5px;
	margin-left: 10px;
	font-size: 10px;
}

.marked {
	color: red;
	font-weight: bold;
}

thead {
	background-color: #E6EBF1;	
}