html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	color: #333333;
	background: #4690d6;
	font-size: 80%;
	font-family: "Lucida Grande",Arial,Tahoma,Verdana,sans-serif;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.0em; }
h5 { font-size: 0.9em; }
h6 { font-size: 0.8em; }

a {
	color: #4690d6;
	text-decoration: none;
}

a:hover {
	color: #0054a7;
	text-decoration: underline;
}

p {
	margin: 0px 0px 15px 0;
}

img {
	border: none;
}

h2 {
	border-bottom: 1px solid #555555;
	margin-bottom: 20px;
}

ul {
	list-style: none;
}

.elgg-page {
	width: 880px;
	margin: auto;
	margin-top: 20px;
}
.elgg-page-header {
	border-right: 1px solid #666666;
	padding: 15px 50px 10px;
	background: white;
}
.elgg-page-body {
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 0 40px 5px;
	background: white;
}

.elgg-page-body:after,
.elgg-page-header:after {
	display: block;
	content: '.';
	line-height: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}

.elgg-sidebar {
	float: left;
	width: 250px;
}
.elgg-body {
	overflow: hidden;
	min-height: 320px;
	padding-bottom: 10px;
	position: relative;
}
.elgg-page-footer {
	width: 800px;
	height: 20px;
	clear: both;
	padding: 10px 20px 0 20px;
	margin: auto;
	margin-bottom: 40px;
}

.elgg-install-nav {
	width: 100%;
	text-align: right;
	position: absolute;
	bottom: 0px;
}

.elgg-page-footer a {
	color: white;
}

.elgg-page-footer li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.elgg-sidebar ol {
	padding-left: 30px;
}

.elgg-sidebar li {
	font-size: 1.2em;
	margin-bottom: 5px;
}

.past {
	text-decoration: line-through;
}
.present {
	font-weight: bold;
}

.future {
	color: #cccccc;
}

h3 {
	margin: 15px 0 5px;
}

form > div {
	margin-bottom: 15px;
}
label {
	font-weight: bold;
	color: #333333;
	font-size: 140%;
}
.elgg-combo-label {
	font-size: 120%;
}
input[type="text"],
input[type="password"]  {
	font: 120% Arial, Helvetica, sans-serif;
	padding: 5px;
	border: 1px solid #cccccc;
	color: #666666;
	width: 96%;
}
.database-settings input[type="text"],
.database-settings input[type="password"] {
	width: 220px;
}
input[type="password"]:focus, input[type="text"]:focus {
	border: solid 1px #4690d6;
	background: #e4ecf5;
	color: #333333;
}
input[type="submit"] {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: #4690d6;
	border: 4px solid #4690d6;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	width: auto;
	height: 35px;
	padding: 2px 6px;
	margin: 10px 0;
	cursor: pointer;
	float: right;
}
input[type="submit"]:hover {
	background: #0054a7;
	border: 4px solid #0054a7;
}
select {
	display: block;
	padding: 5px;
}

.install-help {
	font-size: 90%;
}

.elgg-require-database {
	padding-bottom: 50px;
}

.elgg-install-nav a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	background: #4690d6;
	border: 4px solid #4690d6;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	padding: 2px 9px;
	margin: 10px;
	cursor: pointer;
	float: right;
}

.elgg-install-nav a:hover {
	text-decoration: none;
	background: #0054a7;
	border: 4px solid #0054a7;
}
.elgg-install-nav .elgg-state-disabled,
.elgg-install-nav .elgg-state-disabled:hover {
	background: #555555;
	border-color: #555555;
	cursor: default;
}

.elgg-system-messages li {
	padding: 3px 10px 3px 10px;
	margin-bottom: 20px;
}

.elgg-state-success {
	border: 1px solid #00cc00;
	background: #ccffcc;
}

.elgg-state-error {
	border: 1px solid #D3322A;
	background: #F7DAD8;
}

.elgg-state-warning {
	border: 1px solid #ded0a9;
	background: #FEF5AA;
}

.elgg-body li {
	margin-top: 5px;
	padding: 5px;
}

.pass {
	border: 1px solid #00cc00;
	background: #ccffcc;
}

.warning {
	border: 1px solid #ded0a9;
	background: #FEF5AA;
}

.failure {
	border: 1px solid #D3322A;
	background: #F7DAD8;
}

.info {
	border: 1px solid #aaaaaa;
	background: #ffffff;
}

.messages {
	padding: 3px 10px 3px 10px;
	margin: 20px 0px 10px 0px;
	width: 95%;
}