.elgg-field.thewire-characters-wrapper {
	margin-left: auto;
	font-weight: bold;
	
	.thewire-characters-remaining-warning {
		color: $(state-danger-font-color);
	}
}

.ck.ck-editor.elgg-ckeditor-thewire {
	margin-top: .5rem;
	margin-bottom: .5rem;

	> .ck-editor__top {
		display: none;
	}
	
	> .ck-editor__main > .ck-editor__editable {
		min-height: 40px;
	}
}
