.elgg-input-checkbox-switch {
	position: relative;
	padding-left: 4em;
}
.elgg-input-checkbox-switch:before,
.elgg-input-checkbox-switch:after {
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.4em;
	background-color: $(background-color-mild);
	border-radius: 3px;
	box-shadow: inset 0 0.1em 0 rgba(0, 0, 0, 0.2);
	transition: all 100ms ease-in;
}

.elgg-input-checkbox-switch:after {
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: inset 0 -0.15em 0 rgba(0,0,0,0.2);
}

input:checked ~ .elgg-input-checkbox-switch:before {
	background-color: $(background-color-highlight);
}

input:checked ~ .elgg-input-checkbox-switch:after {
	margin-left: 1.8em;
}

input:disabled ~ .elgg-input-checkbox-switch {
	cursor: not-allowed;
}

.elgg-input-single-checkbox label + .elgg-field-label {
	display: inline-block;
}
