/* ***************************************
	FIXED POSITION AJAX INDICATOR
*************************************** */

.elgg-spinner {
	/* general spinner styles */
	background: #fff;
	padding: 0.5rem;
	border: 1px solid $(border-color-soft);
	border-top: 0;
	border-radius: 0 0 1rem 1rem;
	/* negative half the width for proper centering */
	margin-left: -2rem;

	position: fixed;
	top: 0;

	/* transitioned values */
	left: -10000px;
	opacity: 0;

	/* fade out over 300ms, then jump offscreen */
	transition: opacity 300ms ease-in-out, left 0s linear 300ms;
}

.elgg-spinner-active .elgg-spinner {
	left: 50%;
	opacity: 1;

	/* set values immediately */
	transition: opacity 0s, left 0s;
}
