/* **************************
	BUTTONS
************************** */
.elgg-button,
button {
	display: inline-block;
	color: #2d3047;
	width: auto;
	height: 2.5rem;
	line-height: 1.75rem;
	padding: 0.325rem 1rem;
	cursor: pointer;
	border-radius: 3px;
	transition: background-color 0.5s, color 0.5s;
	border: none;
	white-space: nowrap;
}

.elgg-button:hover,
.elgg-button:focus,
button:hover,
button:focus {
	background-color: #e6e6ea;
	text-decoration: none;
}

.elgg-button + .elgg-button {
	margin-left: 0.5rem;
}

.elgg-button-submit {
	background: #2d3047;
	color: #ffffff;
}

.elgg-button-submit:hover,
.elgg-button-submit:focus {
	background: #424242;
	color: #ffffff;
}

.elgg-button-cancel {
	background: #e6e6ea;
}

.elgg-button-cancel:hover,
.elgg-button-cancel:focus {
	background: #e6e6ea;
}

.elgg-button-action {
	background: #0078ac;
	color: #ffffff;
}

.elgg-button-action:hover,
.elgg-button-action:focus {
	background: #009ade;
	color: #ffffff;
}

.elgg-button-delete {
	background: #e6e6ea;
}

.elgg-button-delete:hover,
.elgg-button-delete:focus {
	background: #d33f49;
	color: #ffffff;
}

.elgg-button-outline {
	border: 1px solid #e6e6ea;
}

.elgg-button-dropdown {
	background: none;
	text-decoration: none;
	display: block;
	position: relative;
	margin-left: 0;
	color: #ffffff;
	border: none;
	box-shadow: none;
	border-radius: 0;
}

.elgg-button-dropdown:hover,
.elgg-button-dropdown:focus,
.elgg-button-dropdown.elgg-state-active {
	color: #ffffff;
	background: #60B8F7;
	text-decoration: none;
}

.elgg-button-special {
	background: #42C5B8;
}

.elgg-button-special:hover,
.elgg-button-special:focus {
	background: #5ED9CD;
}

.elgg-button:disabled,
.elgg-button.elgg-state-disabled {
	background: #DEDEDE;
	cursor: default;
	color: white;
}

/* Use .elgg-size-small or .elgg-size-large for additional sizes */
.elgg-button.elgg-size-small {
	font-size: 0.75rem;
	padding: 0.25rem 0.5rem;
	line-height: 1.5rem;
	height: 2rem;
}

.elgg-button.elgg-size-large {
	font-size: 1.5rem;
	line-height: 2.5rem;
	padding: 1rem 2rem;
	height: 4.5rem;
	border-radius: 3px;
}

.elgg-button-icon + .elgg-button-label {
	margin-left: 0.5rem;
}