/* ***************************************
	Grid
*************************************** */
.elgg-col {
	float: left;
}
.elgg-col-alt {
	float: right;
}
.elgg-col-1of1 {
	float: none;
	width: 100%;
}
.elgg-col-1of2 {
	width: 50%;
}
.elgg-col-1of3 {
	width: 33.33%;
}
.elgg-col-2of3 {
	width: 66.66%;
}
.elgg-col-1of4 {
	width: 25%;
}
.elgg-col-3of4 {
	width: 75%;
}
.elgg-col-1of5 {
	width: 20%;
}
.elgg-col-2of5 {
	width: 40%;
}
.elgg-col-3of5 {
	width: 60%;
}
.elgg-col-4of5 {
	width: 80%;
}
.elgg-col-1of6 {
	width: 16.66%;
}
.elgg-col-5of6 {
	width: 83.33%;
}

/* Create a responsive grid */
.elgg-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5rem;
}

@media $(media-mobile-only) {
	.elgg-grid > * {
		width: 100%;
	}
}

/* Create a multiline grid */
.elgg-columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.5rem;
}

/* Create a single row grid */
.elgg-row {
	display: flex;
	flex-wrap: nowrap;
	margin: 0 -0.5rem;
}

.elgg-columns,
.elgg-row,
.elgg-grid {
	.elgg-col,
	.elgg-col-alt {
		float: none;
		display: block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		padding: 0 0.5rem;
	}
	> *:not(.elgg-col),
	.elgg-col-1of1,
	.elgg-col-1of2,
	.elgg-col-1of3,
	.elgg-col-2of3,
	.elgg-col-1of4,
	.elgg-col-2of3,
	.elgg-col-1of4,
	.elgg-col-3of4,
	.elgg-col-1of5,
	.elgg-col-2of5,
	.elgg-col-3of5,
	.elgg-col-4of5,
	.elgg-col-1of6,
	.elgg-col-5of6 {
		flex: none;
	}
}