/* ***************************************
	Widgets
*************************************** */
.elgg-widgets {
	min-height: 30px;
}
.elgg-menu-title-widgets {
	text-align: right;
	margin: 0 0 15px;
}
.elgg-widgets-add-panel li {
	transition: background 0.2s linear;
}
.elgg-widgets-add-panel li:hover {
	background: #F0F0F0;
}

.elgg-widget-single.elgg-state-available .elgg-widgets-add-actions > span,
.elgg-widget-single.elgg-state-unavailable .elgg-widgets-add-actions .elgg-button-submit {
	display: none;
}

.elgg-module-widget {
	border: 1px solid #ddd;
	position: relative;
}
.elgg-module-widget.elgg-state-draggable:hover {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.elgg-module-widget > .elgg-head {
	background-color: #eceeef;
	overflow: hidden;
}
.elgg-module-widget.elgg-state-draggable .elgg-widget-handle {
	cursor: move;
}
.elgg-module-widget > .elgg-body {
	border-top: 1px solid #ddd;
}
.elgg-widget-edit {
	display: none;
	width: auto;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	background-color: #eceeef;
}
.elgg-widget-placeholder {
	margin-bottom: 15px;
    background: repeating-linear-gradient(-45deg, #ffffff, #ffffff 10px, #ddd 10px, #ddd 20px);
}
.elgg-widget-more {
	padding: 0.75em;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.elgg-module-widget .elgg-no-results + .elgg-widget-more {
    border-top: 1px solid #ddd;
}