/* ***************************************
	  PROGRESS BAR
**************************************** */
.elgg-progressbar {
	height: 20px;
	border: 1px solid #e6e6ea;
}
.ui-progressbar-value {
	height: 20px;
	background: green;
}
.elgg-progressbar-counter {
	float: left;
	color: white;
	margin: 1px;
}

