.elgg-subscriptions {
	
	margin-bottom: 1rem;
	
	& > li {
		padding: .5rem 1rem;
	}
	
	.elgg-subscription-container {
		> .elgg-subscription-methods {
			font-size: .9rem;
			margin: 0;
		}

		.elgg-subscription-details-toggle {
			cursor: pointer;
			margin-top: .25rem;
			color: $(background-color-strong);

			&.elgg-state-active,
			&:hover {
				text-decoration: none;
				color: $(background-color-highlight);
			}
		}
	}

	.elgg-subscription-container-details {
		display: none;
		
		border-left: 1px solid $(background-color-mild);
		border-top: 1px solid $(background-color-mild);
	}

	.elgg-subscription-details {
		margin-bottom: 0rem;
		
		&:hover {
			background: $(background-color-mild);
		}
		
		> .elgg-field-label {
			font-weight: normal;
		}
		
		> .elgg-field-input {
			max-width: 100%;
			font-size: .9rem;
		}
	}
}

@media $(media-tablet-up) {
	.elgg-subscriptions {
		.elgg-subscription-container {
			display: flex;
			
			> .elgg-subscription-description {
				width: 600px;
				max-width: 60%;
				padding-right: 2rem;
			}
			
			> .elgg-subscription-methods {
				max-width: 100%;
			}

			.elgg-subscription-details-toggle > .elgg-anchor-label {
				display: none;
			}
		}
	}
	
	.elgg-subscription-details {
		display: flex;
		
		> .elgg-field-label {
			width: 600px;
			max-width: 60%;
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
}

@media $(media-mobile-only) {
	.elgg-subscriptions {
		.elgg-subscription-container-details {
			padding-left: 1rem;
		}
	}
}
