.elgg-subscriptions {
	margin-bottom: 1rem;
	
	> li {
		padding: .5rem 1rem;
	}
	
	.elgg-subscription-container {
		display: grid;
		gap: 0.5rem;
		
		> .elgg-subscription-methods {
			font-size: .9rem;
			margin: 0 !important;
		}

		.elgg-subscription-details-toggle {
			cursor: pointer;
			color: var(--elgg-background-color-strong);
			font-size: .9rem;

			&.elgg-state-active,
			&:hover {
				text-decoration: none;
				color: var(--elgg-background-color-highlight);
			}
		}
	}

	.elgg-subscription-container-details:not(.hidden) {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding: 1rem;
		margin-top: 0.5rem;
		
		border-left: 1px solid var(--elgg-background-color-mild);
		border-top: 1px solid var(--elgg-background-color-mild);
	}

	.elgg-subscription-details {
		margin: 0 !important;
		display: flex;
		flex-wrap: wrap;
		column-gap: 1rem;
		
		&:hover {
			background: var(--elgg-background-color-mild);
		}
		
		> .elgg-field-label {
			width: 600px;
			max-width: 60%;
			font-weight: normal;
		}
		
		> .elgg-field-input {
			max-width: 100%;
			font-size: .9rem;
		}
	}
}

@media screen and (min-width: 50rem) {
	.elgg-subscriptions {
		.elgg-subscription-container {
			grid-template-columns: 1fr auto auto;
						
			.elgg-subscription-details-toggle > .elgg-anchor-label {
				display: none;
			}
		}
	}
}
