/* ***************************************
	AJAX LOADER
*************************************** */
@keyframes infinite-spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.elgg-ajax-loader {
	background-color: #fff;
	height: 2.5rem;
	width: 2.5rem;
	animation: infinite-spinning 1s infinite linear;
	border-radius: 50%;
	border-width: 5px;
	border-color: $(border-color-highlight) $(border-color-soft) $(border-color-soft);
	border-style: solid;
	display: block;
	margin: 0.75rem auto;
}
