/* ***************************************
	AVATAR ICONS
*************************************** */
.elgg-avatar {
	position: relative;
	display: inline-block;
	
	> a {
		display: inline-block;
		
		img {
			display: inline-block;
			vertical-align: middle;
			width: 100%;
			height: auto;
		}
	}
}

.elgg-avatar-tiny,
.elgg-avatar-small,
.elgg-avatar-medium {
	img {
		border-radius: 50%;
	}
}

.elgg-avatar-tiny img {
	max-width: 25px;
	max-height: 25px;
}

.elgg-avatar-small img {
	max-width: 40px;
	max-height: 40px;
}

.elgg-avatar-medium img {
	max-width: 100px;
	max-height: 100px;
}

.elgg-state-banned {
	opacity: 0.5;
	
	&:hover {
		opacity: 1;
	}
}

/* ***************************************
	AVATAR UPLOADING & CROPPING
*************************************** */
#current-user-avatar {
	border-right: 1px solid $(border-color-soft);
}
#avatar-croppingtool {
	border-top: 1px solid $(border-color-soft);
}
