.elgg-notifications-settings {
	> div {
		display: flex;
		flex-direction: column;
		column-gap: 1rem;
		
		> div {
			padding: .5rem;
		}
		
		&:nth-child(even) {
			background-color: var(--elgg-background-color-mild);
		}
	}
}

@media screen and (min-width: 50rem) {
	.elgg-notifications-settings {
		> div {
			flex-direction: row;
			
			> div {
				width: 50%;
			}
		}
	}
}
