.elgg-subscriptions {
	display: table;
	margin-bottom: 20px;
	width: 100%;
	border-top: 1px solid #DCDCDC;
}

.elgg-subscriptions > div,
.elgg-subscriptions .elgg-list > li {
	display: table-row;
}

.elgg-subscriptions > div:nth-child(even),
.elgg-subscriptions .elgg-list > li:nth-child(even) {
	background-color: #F0F0F0;
}

.elgg-subscription-description,
.elgg-subscription-methods {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	padding: 10px;
	border-bottom: 1px solid #DCDCDC;
}

.elgg-list .elgg-subscription-description,
.elgg-list .elgg-subscription-methods {
	border-bottom: none;
}
