.elgg-subscriptions {
	display: table;
	margin-bottom: 20px;
	width: 100%;
	border-top: 1px solid #DCDCDC;
	
	.elgg-subscription-record {
		display: table-row;
		
		.elgg-subscription-description,
		.elgg-subscription-methods {
			display: table-cell;
			width: 50%;
			vertical-align: middle;
			padding: 10px;
			border-bottom: 1px solid #DCDCDC;
		}
	}
	
	.elgg-subscription-record:nth-child(even) {
		background-color: #e6e6ea;
	}
}
