<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>elgg.1min</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/lwp-request</string>
		<string>-m</string>
		<string>GET</string>
		<string>-d</string>
		<string>http://YOUR.DOMAIN.HERE/cron/run/</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>60</integer>
</dict>
</plist>

