/*

!.gitignore
!/actions/
!/autop/
!/class_scanner/
!/commit_messages
/dataroot/*
!/dataroot/1
!/dataroot/1/1
!/dataroot/1/1/75x125.jpg
!/dataroot/1/1/300x300.jpg
!/dataroot/1/1/300x600.jpg
!/dataroot/1/1/400x300.gif
!/dataroot/1/1/400x300.png
!/dataroot/1/1/600x300.jpg
!/dataroot/1/1/foobar.txt
!/handlers/
!/pages/
!/plugin_18/
!/sql/
!/views/
!/views2/
!/xxe/
!/mod/
!/installer/
/installer/settings.php