name: Code Coverage

on: push

jobs:
  code-coverage:
    name: Code Coverage

    runs-on: ubuntu-latest
    
    env:
      ELGG_DB_USER: root
      ELGG_DB_PASS: root
      ELGG_DB_NAME: elgg
      ELGG_DB_PREFIX: elgg_
        
    steps:
      - name: Check if run on the Elgg repo
        if: github.repository != 'Elgg/Elgg'
        run: exit 1
        
      - name: Checkout
        uses: actions/checkout@master
      
      - name: Install PHP
        uses: shivammathur/setup-php@1.7.3
        with:
          php-version: '7.4'
      
      - name: Install Elgg
        run: |
          composer install
          mysql -u root -proot -e 'SET GLOBAL max_connections = 1000;'
          mysql -u root -proot -e 'create database elgg;'
          php ./elgg-cli install --config ./install/cli/testing_app.php --verbose
      
      - name: Test and publish code coverage
        run: |
          wget https://scrutinizer-ci.com/ocular.phar
          vendor/bin/phpunit --coverage-clover=coverage.clover
          php ocular.phar code-coverage:upload --format=php-clover coverage.clover
